{
    "logging_config": {
        "formatters": {
            "common": {
                "format": "%(asctime)s %(levelname)s [%(filename)s:%(lineno)d] - %(message)s"
            }
        },
        "handlers": {
            "file": {
                "class": "logging.handlers.RotatingFileHandler",
                "filename": "/home/sanxoo/katech/DataPortalServer-Katech/mycar/logs/mycar.log",
                "mode": "a",
                "maxBytes": 10000000,
                "backupCount": 9,
                "formatter": "common",
                "level": "DEBUG"
            },
            "console": {
                "class": "logging.StreamHandler",
                "formatter": "common",
                "level": "INFO"
            }
        },
        "version": 1,
        "loggers": {
            "": {
                "handlers": ["file", "console"],
                "level": "DEBUG"
            }
        }
    },

    "service_host": "0.0.0.0",
    "service_port": 8000,
    "auth_key": "5a4dc619843d4b4f958ac10469a73e69778b0fb9",
    "domain": "https://datahub-dev.scraping.co.kr"
   
    "postgres": {
        "host": "localhost",
        "poer": 5432,
        "user": "",
        "password": "",
        "database": ""
    }

}



